name: wikibook-25-db

services:
  mysql:
    image: mysql:9.2
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: wikibook1!
      MYSQL_DATABASE: wikibook-db
      MYSQL_USER: wikibook-user
      MYSQL_PASSWORD: wikibook1!
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci

  valkey:
    image: valkey/valkey:9.0
    container_name: valkey
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - valkey-data:/data
    command: valkey-server --requirepass wikibook1!

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: wikibook-user
      MONGO_INITDB_ROOT_PASSWORD: wikibook1!
      MONGO_INITDB_DATABASE: wikibook_db
    volumes:
      - mongo-data:/data/db

  opensearch:
    image: opensearchproject/opensearch:2.19.1
    container_name: opensearch
    restart: always
    environment:
      - node.name=opensearch
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
    command: >
      sh -c "
      bin/opensearch-plugin remove opensearch-security --purge;
      bin/opensearch-plugin install analysis-nori;
      ./opensearch-docker-entrypoint.sh
      "

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.19.1
    container_name: opensearch-dashboards
    restart: always
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    depends_on:
      - opensearch

  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: rabbitmq
    restart: always
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: wikibook-user
      RABBITMQ_DEFAULT_PASS: wikibook1!
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Console UI (http://localhost:9001)
    environment:
      MINIO_ROOT_USER: wikibook-user
      MINIO_ROOT_PASSWORD: wikibook1!
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

volumes:
  mysql-data:
  valkey-data:
  mongo-data:
  opensearch-data:
  rabbitmq-data:
  minio-data:
